<form method="POST" action="">
	<div class="form-label-group">
		<input type="text" id="company" name="company" placeholder="Company name" required autofocus>
		<label for="company">Company</label>
	</div>
	
	<div class="form-label-group">
		<input type="text" id="position" name="position" placeholder="Position" required autofocus>
		<label for="position">Position</label>
	</div>
	<button class="btn" type="submit" value="add">SUBMIT</button>

</form>