<h2>Login</h2>
<form method="POST" action="/login" style="max-width: 500px" class="form-group">
	<p>
		Username: <input type="text" name="username">
	</p>
	<p>
		Password: <input type="text" name="password">
	</p>
	<button class="btn btn-block" type="submit" value="edit">Submit</button>
	<p>Please <a href="/register">register</a> if you haven't yet!</p>
</form>
