<h2>Register</h2>
<form method="POST" action="/register" style="max-width: 500px" class="form-group">
	<p>
		Username: <input type="text" name="username">
	</p>
	<p>
		Password: <input type="text" name="password">
	</p>
	<button class="btn btn-block" type="submit" value="edit">Submit</button>
</form>
