body {
	background-color: #f4f4f4;
}

h2 {
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.card {
    background-color: #e7e7e7;
    border: none;
    padding: 2em;
    height: 75vh;
    overflow-y: scroll;
    min-width:15em;
}

.small-card {
	background-color: #b8b8b8;
	border-radius: 2px;
	padding: 15px;
    margin-bottom: 21px;
	font-size: 12px;
	text-transform: uppercase;
}

.small-card > h3 {
	font-size: 14px;
	font-weight: bold;
}

div#cards > .row {
    flex-wrap: nowrap;
}

#cards {
	overflow-x:scroll;
	padding-bottom:1em;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

select#sel-stage {
	margin-bottom: 5px;
}